@import "http://webfonts.ru/import/aleksandrac.css";
html {
    width: 100%;
    min-height: 100vh;
    position: relative;
    min-height: 100%;
}

.appbody {
    background-color: #FBFBFB;
    color: black;
    width: 100%;
    padding-top: 60px;
    margin-bottom: 60px;
}

.logo {
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 100px;
    top: 13px;
    left: 10px;
    transition: all 200ms;
}

.logo img {
    margin-top: 0px;
    display: inline;
    height: 40px;
    width: auto;
}

.main_container {
    min-height: 585px;
}

.logo:hover {
    top: 8px;
}

.username_bar {
    position: absolute;
    top: 0;
    right: 150px;
    width: 230px;
    font-size: 16px;
    color: white;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
}

.head_foot_color {
    background-color: #B18C8E;
    opacity: 0.98;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    float: top;
    height: 60px;
    width: 100%;
    min-width: 1200px;
    color: white;
    font-weight: bold;
    z-index: 110;
}

.footer-list {
    float: right;
    margin-right: 70px;
    line-height: 23px;
}

.footer-list h3 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 25px;
}

.footer-list li a,
footer p,
footer input,
footer textarea,
footer button {
    font-size: 12px;
    line-height: 24px;
}

ul {
    list-style: none;
}

.footer-list li a,
footer p {
    font-size: 14px;
}

.container {
    border-bottom: 1px solid white;
}

.footer-container {
    background-color: #b27ac0;
    width: 100%;
}

.regfield {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
	margin-top: 50px;
}

.regfield h4 {
	line-height:0.01;
}


.error_block {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #95060F;
    opacity: 0.55;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 13pt;
}

.confim_block {
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #448fff;
    opacity: 0.55;
    margin-bottom: 20px;
    margin-top: 3%;
    padding: 25px;
    text-align: center;
    font-size: 15pt;
    line-height: 0.8;
}

.confim {
    text-align: center;
    margin-top: 3%;
    opacity: 0.55;
}

.big_text {
    font-size: 20pt;
}

.center {
    text-align: center;
}

footer {
    color: #fbfbfb;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 60px;
}

footer ul>li>a {
    color: #fbfbfb;
}

a:hover,
a:focus {
    color: #04c0df;
    text-decoration: underline;
}

footer h3 {
    color: #fbfbfb;
}

footer h2 {
    color: #fbfbfb;
    font-size: 24px;
    position: absolute;
    margin-right: 20px;
}

.left-side p {
    float: left;
    margin-top: 25px;
    margin-left: 200px;
}

ul {
    padding: 0;
}