.testbody
{
    background: url('../img/BG_green1.png');
    //background-color: #EEEEEE;
    color: black;
}

.header
{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 60px;
    background-color: #07764D;
    opacity: 0.58;
    color: white;
    font-weight: bold;
}

.footer
{
    color: white;
    padding: 33px;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 80px;
    background-color: #07764D;
    opacity: 0.58;
}