.wrapperQuestion {
    width: 700px;
    overflow: auto;
    height: auto;
    margin-top: -50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    
    top: 50px;
    left: 0;
    border-style: solid;
    border-radius: 10px;
    background: white;
    border-color: #B664CA;
    position: relative;
    padding-right: 50px;
    padding-top: 20px;
}
.questions{
    color: #B664CA;
    padding-top:70px;
    margin-left:auto ;]
    margin-right:auto;
    text-align: center;
}
.centerButtons{
    margin-left: 200px;
}
.buttonsQuestion{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    color: #B664CA;
    background-color: transparent;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
    transition: all 300ms linear;
    margin-left: 55px;
    outline: none;
    border:2px solid;
}
button:hover, 
{
    background-color :#B664CA;
    color:#777;
    outline:none;
    border-color:white;
}

 button:active,    button:hover
{
    background-color :#B664CA;
    outline:none ;
    color:white;
}

.ca-mainQuestion{
    font-size: 20px;
    transition: all 300ms linear;
    margin-left: 55px;
}

.finishbut{
	width: 550px;
	margin-left:11%;
	margin-right:auto;
	
}