.wrapper1 {
    width: 700px;
    overflow: auto;
    height: 500px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 10px;
    background-color: #B664CA;
    position: relative;
    padding-right: 50px;
    padding-top: 20px;
}
.buttons{
    position: relative;
    top: 220px;
    width: 550px;
    height: 40px;
    font-family: Roboto, Medium, sans-serif;
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-color: white;
    outline: none;
    left:50px;
}
    
}
#buttonQuestion:hover
{
        background-color :white;
        color:#777;
    outline:none;
    border-color:white;
}

#buttonQuestion:active,  button:focus,  button:hover
{
    background-color :white;
    outline:none ;
    color:#777;
}
.finish{
    position: relative;
    top: 100px;
    font-family: Roboto, Medium, sans-serif;
    color: white;
    font-size: 30px;
    padding-left:90px;
    
}
