#param {
    display: inline-block;
    float: right;
    width: 480px;
    height: 580px;
    margin-top: 20px;
    margin-right: 20px;
    border-style: solid;
    border-radius: 10px;
    background: white;
    border-color: #717171;
    color: #717171;
    text-align: center;
	overflow-y: scroll;
}

button {
    width: 100px;
    background-color: white;
    border: #717171 solid 2px;
    border-radius: 5px;
}

#param button:hover {
    background-color: #717171;
    color: white;
}

.verh{
	border-top: 2px solid #717171;
	border-bottom: 2px solid #717171;
	height: 166px;
}

.kategorii{
	border-bottom: 2px solid #717171;
	height: 88px;
	margin-bottom: 25px;
}