<!DOCTYPE html>
<html>
  <head>
	<link rel="shortcut icon" href="public/img/admin.png">
    <title><%= title %></title>
	<link href="public/css/admin.css" rel="stylesheet">
  </head>
  <body>
<%- partial('admin_panel') %>
    <div>
<%- body %>
    </div>
  </body>
</html>