<div class="menu menu_fon">
		<div class="user">
		<p>Текущий администратор:</p>
		<h2><%= admin.login %></h2>
		</div>
		<ul>
			<a href="/admin_one">
				<li class="li_menu"><input class="button" style="outline: none;" value="Статистика" type="submit" id="submit" ></li>
			</a>
			<a href="/admin_data">
				<li class="li_menu"><input class="button" style="outline: none;" value="Справочные таблицы" type="submit" id="submit"></li>
			</a>
			<a href="/admin_users">
				<li class="li_menu"><input class="button" style="outline: none;" value="Пользователи" type="submit" id="submit"></li>
			</a>
			<a href="/admin_reg">
				<li class="li_menu"><input class="button" style="outline: none;" value="Администраторы" type="submit" id="submit"></li>
			</a>
			<a href="/admin_logout">
				<li class="li_menu out"><input class="button" style="outline: none;" value="Выйти" type="submit" id="submit"></li>
			</a>
	</div>	