<% layout('admin_baza') %>


	<div class="fon">
		<h1>Вход в панель управления</h1>
		<div class="left">
			<p>Введите существующие логин и пароль для доступа к панели управления</p>
			<p><a href="/">Перейти на главную страницу сайта</a></p>
			<div class="img"><p>
			<% if (user == 3) { %>
			<img src="img/lock.png">
			<%} else {%>
			<img src="admin/img/lock.png">
			<% } %>
			</p></div>
		</div>
		<div class="right">
			<div class="data">
				<form action="/admin" method="post" name="signinAdmin" id="signinAdmin" accept-charset="utf-8">
				<div class="form">
					<label class="label">Логин: </label>
					<input required="true" class="inp" type="text" placeholder="Введите Ваш логин" id="login" >
				</div>
				<div class="form">
					<label class="label">Пароль: </label>
					<input required="true" class="inp" type="password" placeholder="Введите Ваш пароль" id="pwd" >
				</div>
				<% if(err) {%>
					<div class="error_block">
					<%= err  %>
					</div>
				<%}%>
				<input class="button_1" style="outline: none;" value="Войти" type="submit" id="submit">
				</form>
			</div>	
		</div>
	</div>
	
	<script type="text/javascript" src="js/inputCheck.js"></script>
	<script>
		$("#signinAdmin").submit(function(e) {
            var Form = document.forms["signin"];
            var login = Form.elements["login"].id;
            var pwd = Form.elements["pwd"].id;

            if (validateName(login)) {
                if (validatePassword(pwd)) {
                    return true;
                }
            }
			
			console.log(login);
			console.log(pwd);

            return false;
        });
	</script>