<% layout('baza') %>


    <h1 class="text-center"> Диаграммы </h1>
    <hr>
    <div id="charts" style="width: 800px; height: 600px; display: inline-block;"></div>
    <div id="param">
			<h4><b>Параметры выборки:</b></h4>
		<div class="verh">
			<h5><b>Тип диаграммы:</b></h5>
			<input name="r1" type="radio" id="blocks1" onchange ="show(1)" value="Круговая"> Круговая
			<input name="r1" type="radio" id="blocks3" onchange ="show(2)" value="Столбцовая"> Столбцовая
			<hr>
			<h5><b>Нозология:</b></h5>
			<select name="r5" style="width: 210px;">
				<option value="0" selected>Все варианты</option>  
				<option value="1">Ревматоидный артрит
				<option value="2">Болезни глаз
				<option value="3">Аритмия
				<option value="4">Артериальная гипертензия
				<option value="5">Болезни органов дыхания
				<option value="6">Болезни почек
				<option value="7">Сколиоз   
			</select>
		</div>
		<div class="Circle" id="cat1" style ="display: none;">
		<h5><b>Место проживания:</b></h5>
		<select required name="okato">
			<option  value="">Выберите...</option>
			<option value="1">Алтайский край</option>
			<option value="10">Амурская область</option>
			<option value="11">Архангельская область</option>
			<option value="12">Астраханская область</option>
			<option value="14">Белгородская область</option>
			<option value="15">Брянская область</option>
			<option value="17">Владимирская область</option>
			<option value="18">Волгоградская область</option>
			<option value="19">Вологодская область</option>
			<option value="20">Воронежская область</option>
			<option value="99">Еврейская автономная область</option>
			<option value="76">Забайкальский край</option>
			<option value="24">Ивановская область</option>
			<option value="25">Иркутская область</option>
			<option value="83">Кабардино-Балкарская Республика</option>
			<option value="27">Калининградская область</option>
			<option value="29">Калужская область</option>
			<option value="30">Камчатский край</option>
			<option value="91">Карачаево-Черкесская Республика</option>
			<option value="32">Кемеровская область</option>
			<option value="33">Кировская область</option>
			<option value="34">Костромская область</option>
			<option value="3">Краснодарский край</option>
			<option value="4">Красноярский край</option>
			<option value="37">Курганская область</option>
			<option value="38">	Курская область</option>
			<option value="41">Ленинградская область</option>
			<option value="42">Липецкая область</option>
			<option value="44">Магаданская область</option>
			<option value="46">Московская область</option>
			<option value="47">Мурманская область</option>
			<option value="111">Ненецкий автономный округ</option>
			<option value="22">Нижегородская область</option>
			<option value="49">Новгородская область</option>
			<option value="50">Новосибирская область</option>
			<option value="52">Омская область</option>
			<option value="53">Оренбургская область</option>
			<option value="54">Орловская область</option>
			<option value="56">Пензенская область</option>
			<option value="57">Пермский край</option>
			<option value="5">Приморский край</option>
			<option value="58">Псковская область</option>
			<option value="79">Республика Адыгея (Адыгея)</option>
			<option value="84">Республика Алтай</option>
			<option value="80">Республика Башкортостан</option>
			<option value="81">Республика Бурятия</option>
			<option value="82">Республика Дагестан</option>
			<option value="26">Республика Ингушетия</option>
			<option value="85">Республика Калмыкия</option>
			<option value="86">Республика Карелия</option>
			<option value="87">Республика Коми</option>
			<option value="35">Республика Крым</option>
			<option value="88">Республика Марий Эл</option>
			<option value="89">Республика Мордовия</option>
			<option value="98">Республика Саха (Якутия)</option>
			<option value="90">Республика Северная Осетия-Алания</option>
			<option value="92">Республика Татарстан (Татарстан)</option>
			<option value="93">Республика Тыва</option>
			<option value="95">Республика Хакасия</option>
			<option value="60">Ростовская область</option>
			<option value="61">Рязанская область</option>
			<option value="36">Самарская область</option>
			<option value="63">Саратовская область</option>
			<option value="64">Сахалинская область</option>
			<option value="65">Свердловская область</option>
			<option value="66">Смоленская область</option>
			<option value="7">Ставропольский край</option>
			<option value="68">	Тамбовская область</option>
			<option value="28">Тверская область</option>
			<option value="69">Томская область</option>
			<option value="70">Тульская область</option>
			<option value="71">Тюменская область</option>
			<option value="94">Удмуртская Республика</option>
			<option value="73">Ульяновская область</option>
			<option value="8">Хабаровский край</option>
			<option value="71131">Ханты-мансийский автономный округ</option>
			<option value="75">Челябинская область</option>
			<option value="96">Чеченская Республика</option>
			<option value="97">Чувашская Республика - Чувашия</option>
			<option value="77">Чукотский автономный округ</option>
			<option value="71140">Ямало-ненецкий автономный округ</option>
			<option value="78">Ярославская область</option>    						
		</select>
		<hr>
		<p><b>Пол:</b></p>
		<div class="radioblock">
			<input name="r2" type="radio" value="true"/><label value="muzh">Мужской</label>
			<input name="r2" type="radio" value="false"/><label value="zhen">Женский</label>
			<input name="r2" type="radio" value="both" checked/><label value="both">Оба варианта</label>
		</div>
		<hr>	
			<p><b>Рост, сантиметры:</b></p>
			<select value="rost">
				<option value="all" selected>Все варианты</option>   
				<option value='0'>ниже 140 см</option>
                <option value='1'>140-145 см</option>
                <option value='2'>146-150 см</option>
                <option value='3'>151-155 см</option>
                <option value='4'>156-160 см</option>
                <option value='5'>161-165 см</option>
                <option value='6'>166-170 см</option>
                <option value='7'>171-175 см</option>
                <option value="8">176-180 см</option>
                <option value='9'>181-185 см</option>
                <option value='10'>186-190 см</option>
                <option value='11false'>выше 190 см</option>   							
			</select>
			<hr>
			<p class="smenup"><b>Вес, килограммы:</b></p>
			<select>
				<option value="all" selected>Все варианты</option>  
				<option value='0'>меньше 30 кг</option>
                <option value='1'>30-35 кг</option>
                <option value='2'>36-40 кг</option>
                <option value='3'>41-45 кг</option>
                <option value='4'>46-50 кг</option>
                <option value='5'>51-55 кг</option>
                <option value='6'>56-60 кг</option>
                <option value='7'>61-65 кг</option>
                <option value='8'>66-70 кг</option>
                <option value='9'>71-75 кг</option>
                <option value='10'>76-80 кг</option>
                <option value='11'>81-85 кг</option>
                <option value='12'>86-90 кг</option>
                <option value='13'>больше 90 кг</option>
			</select>
			<hr>
			<p><b>Возраст, года:</b></p>
			<select>
				<option value="all" selected>Все варианты</option>
				<option value="0">15-25</option>
                <option value="1">26-35</option>
                <option value="2">36-45</option>
                <option value="3">46-55</option>
                <option value="4">56-65</option>
                <option value="5">66-75</option>
                <option value="7">76-85</option>
                <option value="8">старше 85</option> 							
			</select> 
			<hr>
			<p><b>Употребление табачных изделий:</b></p>
			<div>
				<input name="r2" type="radio" value="true"/><label value="yes">Да</label>
				<input name="r2" type="radio" value="false"/><label value="no">Нет</label>
				<input name="r2" type="radio" value="both" checked/><label value="both">Оба варианта</label>
			</div>
			<hr>
			<p><b>Социальное положение:</b></p>
			<select value="social">
				<option value="all" selected>Все варианты</option>   
				<option value="0">Учащийся школы</option>
				<option value="1">Студент</option>
				<option value="2">Неработающий</option>
				<option value="3">Безработный</option>
				<option value="4">Работающий</option>
				<option value="5">Пенсионер</option> 						
			</select>
			<hr>		  
			<br>
			<center>
            <button id="butUpdate" onclick="update();">Показать</button>
			</center>
			<br> 
		</div>
		<div class="stolb" id="cat2" style ="display: none;">
			<div class="kategorii">
			<br>
			<p><b>Категории:</b></p>
			<select onchange="showblock(this.value)">
				<option value="0" selected>Выберите...</option>
				<option value="1">Рост</option>
				<option value="2">Вес</option>
				<option value="3">Соц.статус</option>
				<option value="4">Возраст</option>
				<option value="5">Регион</option>
			</select>
			</div>
			<div id="dop1" style="display:none;">
				<select>  
					<option value='0'>ниже 140 см</option>
					<option value='1'>140-145 см</option>
					<option value='2'>146-150 см</option>
					<option value='3'>151-155 см</option>
					<option value='4'>156-160 см</option>
					<option value='5'>161-165 см</option>
					<option value='6'>166-170 см</option>
					<option value='7'>171-175 см</option>
					<option value="8">176-180 см</option>
					<option value='9'>181-185 см</option>
					<option value='10'>186-190 см</option>
					<option value='11'>выше 190 см</option>   
				</select>
				<hr>
				<select>  
					<option value='0'>ниже 140 см</option>
					<option value='1'>140-145 см</option>
					<option value='2'>146-150 см</option>
					<option value='3'>151-155 см</option>
					<option value='4'>156-160 см</option>
					<option value='5'>161-165 см</option>
					<option value='6'>166-170 см</option>
					<option value='7'>171-175 см</option>
					<option value='8'>176-180 см</option>
					<option value='9'>181-185 см</option>
					<option value='10'>186-190 см</option>
					<option value='11'>выше 190 см</option>   
				</select>
				<hr>
				<div class="knopka" id="knopkaR"><button id="butUpdate" onclick="addQuestionR()">Добавить</button></div>
				<hr>
				<br>
				<center>
					<button id="butUpdate" onclick="update();">Показать</button>
				</center>
			</div>
			<div id="dop2" style="display:none;">
				<select>
					<option value='0'>меньше 30 кг</option>
					<option value='1'>30-35 кг</option>
					<option value='2'>36-40 кг</option>
					<option value='3'>41-45 кг</option>
					<option value='4'>46-50 кг</option>
					<option value='5'>51-55 кг</option>
					<option value='6'>56-60 кг</option>
					<option value='7'>61-65 кг</option>
					<option value='8'>66-70 кг</option>
					<option value='9'>71-75 кг</option>
					<option value='10'>76-80 кг</option>
					<option value='11'>81-85 кг</option>
					<option value='12'>86-90 кг</option>
					<option value='13'>больше 90 кг</option>
				</select>
				<hr>
				<select>
					<option value='0'>меньше 30 кг</option>
					<option value='1'>30-35 кг</option>
					<option value='2'>36-40 кг</option>
					<option value='3'>41-45 кг</option>
					<option value='4'>46-50 кг</option>
					<option value='5'>51-55 кг</option>
					<option value='6'>56-60 кг</option>
					<option value='7'>61-65 кг</option>
					<option value='8'>66-70 кг</option>
					<option value='9'>71-75 кг</option>
					<option value='10'>76-80 кг</option>
					<option value='11'>81-85 кг</option>
					<option value='12'>86-90 кг</option>
					<option value='13'>больше 90 кг</option>
				</select>
				<hr>
				<div class="knopka" id="knopkaW"><button id="butUpdate" onclick="addQuestionW()">Добавить</button></div>
				<hr>
				<br>
				<center>
					<button id="butUpdate" onclick="update();">Показать</button>
				</center>	
			</div>
			<div id="dop3" style="display:none;">
				<select value='social'>
					<option value='all' selected>Все варианты</option>   
					<option value='0'>Учащийся школы</option>
					<option value='1'>Студент</option>
					<option value='2'>Неработающий</option>
					<option value='3'>Безработный</option>
					<option value='4'>Работающий</option>
					<option value='5'>Пенсионер</option> 						
				</select>
				<hr>
				<select value='social'>
					<option value='all' selected>Все варианты</option>   
					<option value='0'>Учащийся школы</option>
					<option value='1'>Студент</option>
					<option value='2'>Неработающий</option>
					<option value='3'>Безработный</option>
					<option value='4'>Работающий</option>
					<option value='5'>Пенсионер</option> 						
				</select>
				<hr>
				<div class="knopka" id="knopkaS"><button id="butUpdate" onclick="addQuestionS()">Добавить</button></div>
				<hr>
				<br>
				<center>
					<button id="butUpdate" onclick="update();">Показать</button>
				</center>
			</div>
			<div id="dop4" style="display:none;">
				<select>
					<option value='all' selected>Все варианты</option>
					<option value='0'>15-25</option>
					<option value='1'>26-35</option>
					<option value='2'>36-45</option>
					<option value='3'>46-55</option>
					<option value='4'>56-65</option>
					<option value='5'>66-75</option>
					<option value='7'>76-85</option>
					<option value='8'>старше 85</option>
				</select>
				<hr>
				<select>
					<option value='all' selected>Все варианты</option>
					<option value='0'>15-25</option>
					<option value='1'>26-35</option>
					<option value='2'>36-45</option>
					<option value='3'>46-55</option>
					<option value='4'>56-65</option>
					<option value='5'>66-75</option>
					<option value='7'>76-85</option>
					<option value='8'>старше 85</option>
				</select>
				<hr>
				<div class="knopka" id="knopkaV"><button id="butUpdate" onclick="addQuestionV()">Добавить</button></div>
				<hr>
				<br>
				<center>
					<button id="butUpdate" onclick="update();">Показать</button>
				</center>
			</div>
			<div id="dop5" style="display:none;">
			</div>
		</div>
    </div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });


        function drawChart() {

            var options = {
                title: 'Данные'
            };

            var chart = new google.visualization.PieChart(document.getElementById('charts'));

            chart.draw(window.data_chart, options);
        }

        function update() {
            var r1 = $('input[name=r1]:checked').val();
            var r2 = $('input[name=r2]:checked').val();
            var r3 = $('input[name=r3]:checked').val();
            var r4 = $('input[name=r4]:checked').val();
            var r5 = $('input[name=r5]').val();

            $.ajax({
                type: "POST",
                url: "/charts",
                data: JSON.stringify({
                    r1: r1,
                    r2: r2,
                    r3: r3,
                    r4: r4,
                    r5: r5
                }),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    //console.log(data);

                    window.data_chart = google.visualization.arrayToDataTable([
                        ['Данные', 'Диаграмма выборки'],
                        ['Выборка', data.sample],
                        ['Все', data.all]
                    ]);

                    google.charts.setOnLoadCallback(drawChart);
                },
            });
        }
    </script>
<script>
    function show(num) {
		for(var i=1; i<3; i++){
			cat = document.getElementById('cat'+i);
			cat.style.display = "none";
		}
		cat = document.getElementById('cat'+num);
		cat.style.display = "block";
	}
</script>	

<script>
	function showblock(val){
		for(i=1; i<6; i++){
			dop = document.getElementById('dop'+i);
			dop.style.display = "none";
		}
		dop = document.getElementById('dop'+val);
		dop.style.display = "block";
	}
</script>

<script>
	function addQuestionR(){
        var elem = document.getElementById("knopkaR");       
		var div1 = document.createElement("div");
		
		div1.innerHTML = "<div id='box1'><select><option value='0'>ниже 140 см</option><option value='1'>140-145 см</option><option value='2'>146-150 см</option><option value='3'>151-155 см</option><option value='4'>156-160 см</option><option value='5'>161-165 см</option><option value='6'>166-170 см</option><option value='7'>171-175 см</option><option value='8'>176-180 см</option><option value='9'>181-185 см</option><option value='10'>186-190 см</option><option value='11'>выше 190 см</option></select><button onclick='DelPole(1);'>Удалить</button><hr></div>";
		elem.parentNode.insertBefore(div1, elem);		
	}
	
	function addQuestionW(){
		var elem = document.getElementById("knopkaW");
		var div2 = document.createElement("div");
		
		div2.innerHTML = "<div id='box2'><select><option value='0'>меньше 30 кг</option><option value='1'>30-35 кг</option><option value='2'>36-40 кг</option><option value='3'>41-45 кг</option><option value='4'>46-50 кг</option><option value='5'>51-55 кг</option><option value='6'>56-60 кг</option><option value='7'>61-65 кг</option><option value='8'>66-70 кг</option><option value='9'>71-75 кг</option><option value='10'>76-80 кг</option><option value='11'>81-85 кг</option><option value='12'>86-90 кг</option><option value='13'>больше 90 кг</option></select><button onclick='DelPole(2);'>Удалить</button><hr></div>";
		elem.parentNode.insertBefore(div2, elem);		
	}
	
	function addQuestionS(){
        var elem = document.getElementById("knopkaS");       
		var div3 = document.createElement("div");
		
		div3.innerHTML = "<div id='box3'><select><option value='all' selected>Все варианты</option>   <option value='0'>Учащийся школы</option><option value='1'>Студент</option><option value='2'>Неработающий</option><option value='3'>Безработный</option><option value='4'>Работающий</option><option value='5'>Пенсионер</option></select><button onclick='DelPole(3);'>Удалить</button><hr></div>";
		elem.parentNode.insertBefore(div3, elem);		
	}
	
	function addQuestionV(){
        var elem = document.getElementById("knopkaV");       
		var div4 = document.createElement("div");
		
		div4.innerHTML = "<div id='box4'><select><option value='all' selected>Все варианты</option><option value='0'>15-25</option><option value='1'>26-35</option><option value='2'>36-45</option><option value='3'>46-55</option><option value='4'>56-65</option><option value='5'>66-75</option><option value='7'>76-85</option><option value='8'>старше 85</option></select><button onclick='DelPole(4);'>Удалить</button><hr></div>";
		elem.parentNode.insertBefore(div4, elem);		
	}
	
	function DelPole(chislo){
		document.getElementById ('box' + chislo).parentNode.removeChild (document.getElementById ('box' + chislo));
	}
</script>