 <% layout('baza') %>

	<head>
	<title>Подтвердите E-mail</title>
	</head>

	<div style="height: 100%">
		<div class="confim">
			<p><img src="img/mail.png" alt="mail" style = "width:436px; height:256px;"></p>
		</div>
        <div class="confim_block">
            <div class="big_text">На указанный вами E-mail было отправлено письмо с подтверждением.</div><br>
			Чтобы завершить регистрацию, пожалуйста, перейдите по ссылке, указанной в письме.
        </div>
    </div>