<div class="container">
	<div class="clearfix">

		<div class="right-side clearfix">
			<div class="footer-list">
				<h3>LINKS</h3>
				<ul>
					<li><a href="#">Главная страница</a></li>
					<li><a href="#">Опрос</a></li>
					<li><a href="#">Карта</a></li>
					<li><a href="#">Диаграмма</a></li>
					<li><a href="#">Анализ данных</a></li>
					<li><a href="#">Еще что-то</a></li>
			</div>
			<div class="footer-list">
				<h3>AUTHORIZATION</h3>
				<ul>
					<li><a href="#">Вход</a></li>
					<li><a href="#">Регистрация</a></li>
				</ul>
			</div>
		</div>
		<div class="left-side">
			<h2>EPIDEMIOLOGY</h2>
			<p>Система мониторинга эпидемиологии хронических неинфекционных заболеваний.</p>
			<br><br><br>
			Еще что-то(например тусур,или как у них сибгму)
		</div>
	</div>
</div>