<% layout('baza') %>
  
        <div id="fullpage">
            <div class="section " id="section0">
                <div class="container">
                    <div class="row vertical-center">
                      <div class="izob col-xs-12 col-sm-12 col-md-12">
                        <img src="img/fullPage/PRIVET.png" alt="world" class="img-responsive">
                        <h2>СИСТЕМА МОНИТОРИНГА ЭПИДЕМИОЛОГИЧЕСКИХ ХАРАКТЕРИСТИК</h2> 
                      </div>
                    </div>
                </div>
            </div>
            <div class="section " id="section1">
                <div class="container">
                    <div class="row vertical-center">
                      <div class="izob col-xs-5 col-sm-5 col-md-5">
                        <img src="img/fullPage/world.png" alt="world" class="img-responsive">
                      </div>
                        <div class="tex col-xs-6 col-sm-6 col-md-6 text-center">
                        <h2 style="color: #5C9AD8;">Интерактивная карта</h2>
                        <p style="color: #5C9AD8;">Предоставляет развёрнутую статистическую информацию по 7 нозологиям, включая сортировку информации о распространённости определённых заболеваний в регионах Российской Федерации.</p>
                        <a href="map">
                            <button style="border-color: #5C9AD8; color: #5C9AD8;">Перейти</button>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section2">
                <div class="container">
                    <div class="row vertical-center">
                        <div class="tex col-xs-6 col-sm-6 col-md-6 text-center" style="padding-left: 0px; padding-right: 70px;">
                        <h2 style="color: #740B8E;">Медицинский опросник</h2>
                        <p style="color: #740B8E;">Пожалуйста, заполните Ваши персональные данные и пройдите медицинский опрос по 7 нозологиям. Уверяем, это не займёт много времени!</p>
                        <a href="quest_begin">
                            <button style="border-color: #740B8E; color: #740B8E;">Пройти</button>
                        </a>
                      </div>
                      <div class="izob col-xs-5 col-sm-5 col-md-5">
                        <img src="img/fullPage/opros.png" alt="world" class="img-responsive">
                      </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section3">
                <div class="container">
                    <div class="row vertical-center">
                      <div class="izob col-xs-5 col-sm-5 col-md-5">
                          <img src="img/fullPage/diag.png" alt="world" class="img-responsive">
                      </div>
                      <div class="tex col-xs-6 col-sm-6 col-md-6 text-center">
                        <h2>Анализ данных</h2> 
                        <p>Предоставляет пользователю статистическую информацию, отображённую в виде подробных графиков и диаграмм, составленных на основе обработанных анкетных данных.</p> 
                        <a href="charts">
                            <button>Перейти</button>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
