<% layout('baza') %>



<div class = "wrapper" style = "overflow:hidden;">
    <p class="ca-main questions" >Вы болели хоть раз в жизни?</p>
    <button class="buttons ca-main" type="submit" > Да </button>
    <button class="buttons ca-main" type="submit" > Нет </button>
</div>
