<% layout('baza') %>


<div class = "wrapper" style = "overflow:hidden;">
    <p class="finish" >Спасибо, что приняли участие в опросе!</p>
    <button class="buttons_f ca-main" type="submit" > Завершить опрос</button>

</div>