<% layout('baza') %>

    <div style="padding: 10px;">
        <h1 class="text-center">Вход в систему</h1>
        <hr>
        <% if(err) {%>
            <div class="error_block">
                <%= err  %>
            </div>
            <%}%>
                <form action="signin" method="post" id="signin" accept-charset="utf-8" class="regfield">
                    <div class="form-group">
                        <label class="control-label" for="signin_email">E-mail: </label>
                        <input required="true" class="form-control" type="text" onblur="validateEmail('signin_email')" onfocus="focusField('signin_email')" name="email" id="signin_email" placeholder="Введите Ваш e-mail">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="signin_pwd">Пароль: </label>
                        <input required="true" class="form-control" type="password" onblur="validatePassword('signin_pwd')" onfocus="focusField('signin_pwd')" name="pwd" id="signin_pwd" placeholder="Введите пароль">
                    </div>

                    <div class="form-group center">
                        <input class="btn btn-primary btn-lg" style="outline: none;" value="Войти" type="submit" id="submit">
                    </div>
                    <a href="signup" style="font-size: 18px;">
                    Регистрация
                </a>
                </form>
    </div>

    <script>
        $("#signin").submit(function(e) {
            var Form = document.forms["signin"];
            var email = Form.elements["email"].id;
            var pwd = Form.elements["pwd"].id;

            if (validateEmail(email)) {
                if (validatePassword(pwd)) {
                    return true;
                }
            }

            return false;
        });
    </script>