<% layout('baza') %>

        <div style="padding: 10px;">
            <h1 class="text-center">Вход в систему</h1>
            <hr>
            <form action="signin" method="post" accept-charset="utf-8" name="signin" class="regfield">
                <div class="form-group">
                    <label class="control-label" for="email">*E-mail: </label>
                    <input required="true" class="form-control" type="text" onblur="validateEmail('has-error')" onfocus="focusEmail()" name="signin" id="email" placeholder="Введите Ваш e-mail" >
                </div>
                    
                <div class="form-group">
                    <label class="control-label" for="password">*Пароль: </label>
                    <input required="true" class="form-control" type="password" onblur="validateName('password','has-error')" onfocus="focusName('password')" name="signin" id="password" placeholder="Придумайте пароль" >
                </div>
               
                <div class="form-group center">
                    <input class="btn btn-primary btn-lg" style="outline: none;" value="Войти" onmouseover="setSubmitEnabledLogin();" type="submit" name="signin" id="submit" >
                </div>
                <a href="signup" style="font-size: 18px;" >
                    Регистрация
                </a>
            </form>
        </div>