<% layout('baza') %>

<head>
<title>Ошибка регистрации</title>
</head>


    <div style="height: 100%">
        <div class="error_block">
            Пользователь с такими данными уже зарегистрирован!
        </div>
    </div>